/* 改变主题色变量 */
$--color-primary: teal;

$--border-radius-base: 2px !default;

$--font-size-base: 12px !default;

$--button-medium-padding-vertical: 9px !default;
$--button-medium-padding-horizontal: 32px !default;

$--checkbox-font-size: $--font-size-base !default;
$--radio-font-size: $--font-size-base !default;
$--select-input-font-size: $--font-size-base !default;

$--input-height: 32px !default;
$--input-mini-height: 24px !default;

$--table-header-color: #fff !default;
$--table-header-background: $--color-primary !default;

thead {
  color: $--table-header-color;
  font-weight: 500;

  &.is-group {
    th {
      background: $--table-header-background !important;
    }
  }
}

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";