:root {
    /* Transition
-------------------------- */
    --all-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    --fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
    --fade-linear-transition: opacity 200ms linear;
    --md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    --border-transition-base: border-color .2s cubic-bezier(.645, .045, .355, 1);
    --color-transition-base: color .2s cubic-bezier(.645, .045, .355, 1);
    /* Colors
-------------------------- */
    --color-primary: #6085FF;

    --color-primary-light-1: tint(var(--color-primary), 0.1); /* #7091ff */
    --color-primary-light-2: tint(var(--color-primary), 0.2); /* #809dff */
    --color-primary-light-3: tint(var(--color-primary), 0.3); /* #90aaff */
    --color-primary-light-4: tint(var(--color-primary), 0.4); /* #a0b6ff */
    --color-primary-light-5: tint(var(--color-primary), 0.5); /* #b0c2ff */
    --color-primary-light-6: tint(var(--color-primary), 0.6); /* #bfceff */
    --color-primary-light-7: tint(var(--color-primary), 0.7); /* #cfdaff */
    --color-primary-light-8: tint(var(--color-primary), 0.8); /* #dfe7ff */
    --color-primary-light-9: tint(var(--color-primary), 0.9); /* #eff3ff */

    --color-primary-dark: shade(var(--color-primary), 0.1); /* #5678e6 */
    
    --color-success: #3bcd8d;
    --color-warning: #ffd718;
    --color-danger: #ff5353;
    --color-info: #39b2ff;

    --color-base: #bfceff;
    --color-white: #fff;
    --color-dark-white: color(var(--color-white) blend(var(--color-base) 2%));
    --color-black: #000;
    --color-base-black: color(var(--color-base) h(+6) s(33%) l(18%));
    --color-light-black: color(var(--color-base-black) h(+5) s(27%) l(27%));
    --color-extra-light-black: color(var(--color-base-black) h(+2) s(19%) l(35%));
    --color-base-silver: color(var(--color-base-black) h(+3) s(16%) l(58%));
    --color-light-silver: color(var(--color-base-black) h(+3) s(23%) l(67%));
    --color-extra-light-silver: color(var(--color-base-black) s(26%) l(80%));
    --color-base-gray: color(var(--color-base-black) s(28%) l(86%));
    --color-light-gray: color(var(--color-base-black) h(+10) s(33%) l(92%));
    --color-extra-light-gray: color(var(--color-base-black) h(+6) s(33%) l(95%));

    /*[新增] 即：###333（文字 重点/标题）*/
    --base-black-1: color(var(--color-black) l(20%));
    /*[新增] 即：###666（文字 全局）*/
    --base-black-2: color(var(--color-black) l(40%));
    /*[新增] 即：###999（文字 说明）*/
    --base-black-3: color(var(--color-black) l(60%));
    /*[新增] 即：###ccc（文字 disable）（描边 深）*/
    --base-black-4: color(var(--color-black) l(80%));
    /*[新增] 即：###e5e5e5（描边 默认）（背景 图文按钮 press）*/
    --base-black-5: #e5e5e5;
    /*[新增] 即：###ebebeb（背景 按钮 press）（背景 图文按钮 hover）*/
    --base-black-6: color(var(--color-black) l(92%));
    /*[新增] 即：###f2f2f2（背景 按钮 hover）*/
    --base-black-7: color(var(--color-black) l(95%));
    /*[新增] 即：###f5f5f5（背景 默认）*/
    --base-black-8: color(var(--color-black) l(96%));
    /*[新增] 即：###fafafa（背景 淡，如：弹窗操作区）*/
    --base-black-9: color(var(--color-black) l(98%));
    
    /* Link
    -------------------- */
    --link-color: var(--color-extra-light-black);
    --link-hover-color: var(--color-primary);
    /* Border
-------------------------- */
    --border-width-base: 1px;
    --border-style-base: solid;
    --border-color-base: var(--base-black-4);
    /*[修改] */
    --border-color-hover: var(--base-black-2);
    /*[修改] */
    --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
    --border-radius-base: 2px;
    --border-radius-small: 0px;
    --border-radius-circle: 100%;
    /* Box-shadow
-------------------------- */
    --box-shadow-base: 0 1px 5px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .1);
    /*[修改] */
    --box-shadow-dark: 0 5px 10px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .1);
    /*[修改] */
    /* Fill
-------------------------- */
    --fill-base: var(--color-white);
    /* Font
-------------------------- */
    --font-size-base: 12px;
    /*[修改] */
    --font-color-base: var(--base-black-2);
    /*[修改] */
    --font-color-disabled-base: var(--base-black-4);
    /*[修改] */
    /* Size用于全局字体
-------------------------- */
    --size-base: 12px;
    /* z-index
-------------------------- */
    --index-normal: 1;
    --index-top: 1000;
    --index-popper: 2000;
    /* Disable base
-------------------------- */
    --color-disabled-blend: var(--color-primary-light-5);
        /*[修改] */
    --disabled-fill-base: var(--base-black-7);
    /*[修改] */
    --disabled-color-base: var(--base-black-4);
    /*[修改] */
    --disabled-border-base: var(--base-black-5);
    /*[修改] */
    /* Icon
-------------------------- */
    --icon-color: var(--base-black-2);
    /* Checkbox
-------------------------- */
    --checkbox-font-size: 12px;
    --checkbox-color: var(--color-base-black);
    --checkbox-input-height: 16px;
    --checkbox-input-width: 16px;
    --checkbox-input-border-radius: 1px;
    --checkbox-bordered-padding: 9px 20px 9px 10px;
    --checkbox-bordered-medium-padding: 7px 20px 7px 10px;
    --checkbox-bordered-small-padding: 3px 15px 7px 10px;
    --checkbox-bordered-mini-padding: 1px 15px 5px 10px;
    --checkbox-bordered-medium-input-height: 14px;
    --checkbox-bordered-medium-input-width: 14px;
    --checkbox-bordered-small-input-height: 12px;
    --checkbox-bordered-small-input-width: 12px;
    --checkbox-bordered-mini-input-height: 12px;
    --checkbox-bordered-mini-input-width: 12px;
    --checkbox-input-fill: var(--color-white);
    --checkbox-input-border: var(--border-base);
    --checkbox-input-border-color: var(--border-color-base);
    --checkbox-icon-color: var(--color-white);
    --checkbox-disabled-input-border-color: var(--disabled-border-base);
    --checkbox-disabled-input-fill: var(--disabled-fill-base);
    --checkbox-disabled-icon-color: var(--disabled-fill-base);
    --checkbox-disabled-checked-input-fill: var(--color-disabled-blend);
    --checkbox-disabled-checked-input-border-color: var(--color-disabled-blend);
    --checkbox-disabled-checked-icon-color: var(--color-white);
    /*--checkbox-checked-input-border-color: var(--color-secondary);*/
    --checkbox-checked-input-border-color: var(--color-primary);
    --checkbox-checked-input-fill: var(--color-primary);
    --checkbox-checked-icon-color: var(--fill-base);
    --checkbox-input-border-color-hover: var(--color-primary);
    --checkbox-button-font-size: var(--font-size-base);
    --checkbox-button-checked-fill: var(--color-primary);
    --checkbox-button-checked-color: var(--color-white);
    --checkbox-button-checked-border-color: var(--color-primary);
    /* Radio
-------------------------- */
    --radio-font-size: 12px;
    --radio-color: var(--base-black-2);
    --radio-input-height: 16px;
    --radio-input-width: 16px;
    --radio-bordered-padding: 10px 20px 10px 10px;
    --radio-bordered-medium-padding: 8px 20px 8px 10px;
    --radio-bordered-small-padding: 6px 15px 6px 10px;
    --radio-bordered-mini-padding: 4px 15px 4px 10px;
    --radio-bordered-medium-input-height: 14px;
    --radio-bordered-medium-input-width: 14px;
    --radio-bordered-small-input-height: 12px;
    --radio-bordered-small-input-width: 12px;
    --radio-bordered-mini-input-height: 12px;
    --radio-bordered-mini-input-width: 12px;
    --radio-input-border-radius: var(--border-radius-circle);
    --radio-input-fill: var(--color-white);
    --radio-input-border: var(--border-base);
    --radio-input-border-color: var(--border-color-base);
    --radio-icon-color: var(--color-white);
    --radio-disabled-input-border-color: var(--disabled-border-base);
    --radio-disabled-input-fill: var(--disabled-fill-base);
    --radio-disabled-icon-color: var(--disabled-fill-base);
    --radio-disabled-checked-input-fill: var(--disabled-border-base);
    --radio-disabled-checked-input-border-color: var(--disabled-border-base);
    --radio-disabled-checked-icon-color: var(--color-white);
    --radio-checked-input-border-color: var(--color-primary);
    --radio-checked-input-fill: var(--color-white);
    --radio-checked-icon-color: var(--color-primary);
    --radio-input-border-color-hover: var(--color-primary);
    --radio-button-font-size: var(--font-size-base);
    --radio-button-checked-fill: var(--color-primary);
    --radio-button-checked-color: var(--color-white);
    --radio-button-checked-border-color: var(--color-primary);
    /* Select
-------------------------- */
    --select-border-color-hover: var(--border-color-hover);
    --select-disabled-border: var(--disabled-border-base);
    --select-font-size: var(--font-size-base);
    --select-close-hover-color: var(--color-light-silver);
    --select-input-color: var(--color-extra-light-silver);
    --select-multiple-input-color: var(--base-black-2);
    --select-input-focus-background: var(--base-black-2);
    --select-input-font-size: 12px;
    --select-tag-height: 24px;
    --select-tag-color: var(--base-black-2);
    --select-tag-background: var(--base-black-8);
    --select-tag-border: var(--base-black-5);
    --select-option-color: var(--base-black-1);
    --select-option-disabled-color: var(--base-black-4);
    --select-option-disabled-background: var(--color-white);
    --select-option-height: 32px;
    --select-option-hover-background: var(--base-black-7);
    --select-option-selected: var(--color-primary);
    --select-option-selected-hover: var(--color-primary-light-2);
    --select-option-selected-active: var(--color-primary-dark);
    --select-group-color: #999;
    --select-group-height: 30px;
    --select-group-font-size: 12px;
    --select-dropdown-color: var(--color-black);
    --select-dropdown-background: var(--color-white);
    --select-dropdown-shadow: var(--box-shadow-base);
    --select-dropdown-empty-color: #999;
    --select-dropdown-max-height: 274px;
    --select-dropdown-padding: 0 0;
    --select-dropdown-empty-padding: 10px 0;
    --select-dropdown-border: solid 1px var(--disabled-border-base);
    --select-disabled-icon: #BFC2D9;
    /* Alert
-------------------------- */
    --alert-padding: 7px 16px;
    --alert-border-radius: var(--border-radius-base);
    --alert-title-font-size: 13px;
    --alert-description-font-size: 12px;
    --alert-close-font-size: 14px;
    --alert-close-customed-font-size: 13px;
    --alert-success-color: var(--color-success);
    --alert-info-color: var(--color-info);
    --alert-warning-color: var(--color-warning);
    --alert-danger-color: var(--color-danger);
    --alert-icon-size: 16px;
    --alert-icon-large-size: 28px;
    /* Message Box
-------------------------- */
    --msgbox-width: 360px;
    --msgbox-border-radius: 3px;
    --msgbox-font-size: 16px;
    --msgbox-content-font-size: 12px;
    --msgbox-content-color: var(--base-black-2);
    --msgbox-error-font-size: 12px;
    --msgbox-success-color: var(--color-success);
    --msgbox-info-color: var(--color-info);
    --msgbox-warning-color: var(--color-warning);
    --msgbox-danger-color: var(--color-danger);
    --msgbox-tip-color: #fff;
    /* Message
-------------------------- */
    --message-shadow: var(--box-shadow-base);
    --message-min-width: 300px;
    --message-padding: 10px 12px;
    --message-content-color: var(--border-color-hover);
    --message-close-color: var(--base-black-2);
    --message-close-hover-color: var(--base-black-1);
    --message-success-color: var(--color-success);
    --message-info-color: var(--color-info);
    --message-warning-color: var(--color-warning);
    --message-danger-color: var(--color-danger);
    /* Notification
-------------------------- */
    --notification-width: 330px;
    --notification-padding: 20px;
    --notification-shadow: var(--box-shadow-base);
    --notification-icon-size: 40px;
    --notification-font-size: var(--font-size-base);
    --notification-color: var(--border-color-hover);
    --notification-title-font-size: 16px;
    --notification-title-color: var(--color-base-black);
    --notification-close-color: var(--color-extra-light-silver);
    --notification-close-hover-color: var(--color-light-silver);
    --notification-success-color: var(--color-success);
    --notification-info-color: var(--color-info);
    --notification-warning-color: var(--color-warning);
    --notification-danger-color: var(--color-danger);
    /* Input
-------------------------- */
    --input-font-size: var(--font-size-base);
    --input-color: var(--base-black-1);
    --input-font-color: var(--base-black-2); 
    --input-width: 140px;
    --input-height: 32px;
    --input-border: var(--border-base);
    --input-border-color: var(--border-color-base);
    --input-border-radius: var(--border-radius-base);
    --input-border-color-hover: var(--border-color-hover);
    --input-fill: var(--color-white);
    --input-fill-disabled: var(--disabled-fill-base);
    --input-color-disabled: var(--font-color-disabled-base);
    --input-icon-color: var(--base-black-2);
    --input-icon-hover-color: var(--base-black-1);
    --input-placeholder-color: var(--base-black-4);
    --input-max-width: 314px;
    --input-hover-border: var(--border-color-hover);
    --input-focus-border: var(--color-black);
    --input-focus-fill: var(--color-white);
    --input-disabled-fill: var(--disabled-fill-base);
    --input-disabled-border: var(--disabled-border-base);
    --input-disabled-color: var(--disabled-color-base);
    --input-disabled-placeholder-color: var(--base-black-4);
    --input-large-font-size: 16px;
    --input-large-height: 42px;
    --input-small-font-size: 13px;
    --input-small-height: 28px;
    --input-mini-font-size: 12px;
    --input-mini-height: 24px;
    --input-numebr-hover-background: var(--base-black-7);
    --input-numebr-active-background: var(--base-black-6);
    /* Cascader
-------------------------- */
    --cascader-menu-fill: var(--fill-base);
    --cascader-menu-font-size: var(--font-size-base);
    --cascader-menu-radius: var(--border-radius-base);
    --cascader-menu-border: var(--border-base);
    --cascader-menu-border-color: var(--border-color-base);
    --cascader-menu-border-width: var(--border-width-base);
    --cascader-menu-color: var(--font-color-base);
    /*--cascader-menu-option-color-active: var(--color-secondary);*/
    /*--cascader-menu-option-fill-active: rgba(var(--color-secondary), 0.12);*/
    --cascader-menu-option-color-hover: var(--font-color-base);
    --cascader-menu-option-fill-hover: rgba(var(--color-black), 0.06);
    --cascader-menu-option-color-disabled: #999;
    --cascader-menu-option-fill-disabled: rgba(var(--color-black), 0.06);
    --cascader-menu-option-empty-color: var(--tag-close-color);
    --cascader-menu-group-color: #999;
    --cascader-menu-shadow: 0 1px 2px rgba(var(--color-black), 0.14), 0 0 3px rgba(var(--color-black), 0.14);
    --cascader-menu-option-pinyin-color: #999;
    --cascader-menu-submenu-shadow: 1px 1px 2px rgba(var(--color-black), 0.14), 1px 0 2px rgba(var(--color-black), 0.14);
    /* Group
-------------------------- */
    --group-option-flex: 0 0 (1/5) * 100%;
    --group-option-offset-bottom: 12px;
    --group-option-fill-hover: rgba(var(--color-black), 0.06);
    --group-title-color: var(--color-black);
    --group-title-font-size: var(--font-size-base);
    --group-title-width: 66px;
    /* Tab modify by xhd
-------------------------- */
    --tab-font-size: var(--font-size-base);
    --tab-border-line: 1px solid #e4e4e4;
    /*--tab-header-color-active: var(--color-secondary);*/
    --tab-header-color-hover: var(--font-color-base);
    --tab-header-color: var(--font-color-base);
    --tab-header-fill-active: rgba(var(--color-black), 0.06);
    --tab-header-fill-hover: rgba(var(--color-black), 0.06);
    --tab-vertical-header-width: 90px;
    --tab-vertical-header-count-color: var(--color-white);
    /*--tab-vertical-header-count-fill: var(--color-secondary);*/
    --tab-font-color: var(--base-black-2);
    /* Button
-------------------------- */
    --button-font-size: 12px;
    --button-border-radius: 2px;
    --button-padding-vertical: 9px;
    --button-padding-horizontal: 23px;
    --button-large-font-size: 16px;
    --button-large-padding-vertical: 11px;
    --button-large-padding-horizontal: 19px;
    --button-small-font-size: 12px;
    --button-small-padding-vertical: 7px;
    --button-small-padding-horizontal: 9px;
    --button-mini-font-size: 12px;
    --button-mini-padding-vertical: 5px;
    --button-mini-padding-horizontal: 4px;
    --button-default-color: var(--base-black-2);
    --button-default-fill: var(--color-white);
    --button-default-border: var(--base-black-5);
    --button-ghost-color: var(--base-black-2);
    --button-ghost-fill: transparent;
    --button-ghost-border: none;
    --button-disabled-color: var(--base-black-4);
    --button-disabled-fill: var(--color-disabled-blend);
    --button-disabled-border: var(--disabled-border-base);
    --button-primary-border: var(--color-primary);
    --button-primary-color: var(--color-white);
    --button-primary-fill: var(--color-primary);
    --button-success-border: var(--color-success);
    --button-success-color: var(--color-white);
    --button-success-fill: var(--color-success);
    --button-white-border: var(--base-black-5);
    --button-white-color: var(--base-black-2);
    --button-white-fill: var(--color-white);
    --button-white-hover-fill: var(--base-black-7);
    --button-white-active-fill: var(--base-black-6);
    --button-white-disable-color: var(--base-black-4);
    --button-white-disable-border: var(--base-black-5);
    --button-white-disable-fill: var(--base-black-7);
    --button-iconButton-color: var(--base-black-2);
    --button-iconButton-hover-fill: var(--base-black-6);
    --button-iconButton-active-fill: var(--base-black-5);
    --button-iconButton-disable-color: var(--base-black-4);
    --button-warning-border: var(--color-warning);
    --button-warning-color: var(--color-white);
    --button-warning-fill: var(--color-warning);
    --button-danger-border: var(--color-danger);
    --button-danger-color: var(--color-white);
    --button-danger-fill: var(--color-danger);
    --button-info-border: var(--color-info);
    --button-info-color: var(--color-white);
    --button-info-fill: var(--color-info);
    --button-hover-tint-percent: 20%;
    --button-active-shade-percent: 10%;
    --button-min-width: 96px;
    --button-text-color: #3875f6;
    --button-text-disabled-color: #9cbafb;
    --button-primary-disable-fill: var(--light-primary-1);
    /* cascader
-------------------------- */
    --cascader-height: 200px;
    /* Switch
-------------------------- */
    --switch-on-color: var(--color-primary);
    --switch-off-color: var(--base-black-4);
    --switch-disabled-color: var(--color-light-gray);
    --switch-disabled-text-color: var(--color-dark-white);
    --switch-font-size: var(--font-size-base);
    --switch-core-border-radius: 12px;
    --switch-width: 46px;
    --switch-height: 22px;
    --switch-button-size: 16px;
    --switch-focus-border: var(--color-primary);
    /* Dialog
-------------------------- */
    /*--dialog-background-color: var(--color-secondary);*/
    --dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    --dialog-tiny-width: 30%;
    --dialog-small-width: 50%;
    --dialog-large-width: 90%;
    --dialog-close-color: var(--base-black-2);
    --dialog-close-hover-color: var(--base-black-1);
    --dialog-font-size: 14px;
    --dialog-font-color: var(--base-black-2);
    --dialog-header-border-color:var(--base-black-6);
    --dialog-footer-background-color: #FBFBFB;
    /* Table
-------------------------- */
    --table-border-color: var(--base-black-5);
    --table-text-color: var(--color-base-black);
    --table-header-background: var(--color-primary-light-2);
    --table-header-text-color: var(--color-dark-white);
    --table-footer-background: var(--color-dark-white);
    --table-tr-row-background: var(--base-black-8);
    --table-tr-hover-background: #f2f2f2;
    --table-striped-background: #f5f5f5;
    --table-current-background: var(--base-black-6);
    --table-boxshadow-color1: #d3d4d6;
    --table-boxshadow-color2: #f4f4f4;
    --table-th-required-background: #ff4d51;
    /* Pagination
-------------------------- */
    --pagination-font-size: 14px;
    --pagination-fill: var(--color-white);
    --pagination-color: var(--link-color);
    --pagination-border-radius: 2px;
    --pagination-button-color: var(--color-light-silver);
    --pagination-button-size: 28px;
    --pagination-button-disabled-color: #e4e4e4;
    --pagination-button-disabled-fill: var(--color-white);
    --pagination-border-color: var(--disabled-border-base);
    --pagination-hover-fill: var(--color-primary);
    --pagination-hover-color: var(--color-white);
    --pagination-table-pager-border: 1px solid var(--base-black-6);
    --pagination-table-pager-bg: var(--color-white);
    --pagination-table-pager-bg-hover: var(--base-black-8);
    --pagination-table-pager-font-color: var(--base-black-3);
    --pagination-table-pager-font-color-disabled: var(--base-black-5);
    /* Popover
-------------------------- */
    --popover-fill: var(--color-white);
    --popover-font-size: 12px;
    --popover-border-color: var(--disabled-border-base);
    --popover-arrow-size: 6px;
    --popover-padding: 10px;
    --popover-title-font-size: 13px;
    --popover-title-color: var(--color-base-black);
    /* Tooltip
-------------------------- */
    --tooltip-fill: #555;
    --tooltip-color: var(--color-white);
    --tooltip-font-size: 12px;
    --tooltip-border-color: var(--color-base-black);
    --tooltip-arrow-size: 6px;
    --tooltip-padding: 10px;
    --tooltip-shadow-color: rgba(0,0,0,.2);
    /* Tag
-------------------------- */
    --tag-padding: 0 5px;
    --tag-fill: var(--border-color-hover);
    --tag-color: var(--color-white);
    --tag-close-color: var(--tag-close-color);
    --tag-font-size: 12px;
    --tag-border-radius: 4px;
    --tag-gray-fill: var(--color-light-gray);
    --tag-gray-border: var(--color-light-gray);
    --tag-gray-color: var(--link-color);
    --tag-primary-fill: rgba(var(--color-primary), 0.10);
    --tag-primary-border: rgba(var(--color-primary), 0.20);
    --tag-primary-color: var(--color-primary);
    --tag-success-fill: rgba(18, 206, 102, 0.10);
    --tag-success-border: rgba(18, 206, 102, 0.20);
    --tag-success-color: var(--color-success);
    --tag-warning-fill: rgba(247, 186, 41, 0.10);
    --tag-warning-border: rgba(247, 186, 41, 0.20);
    --tag-warning-color: var(--color-warning);
    --tag-danger-fill: rgba(255, 73, 73, 0.10);
    --tag-danger-border: rgba(255, 73, 73, 0.20);
    --tag-danger-color: var(--color-danger);
    /* Dropdown
-------------------------- */
    --dropdown-menu-box-shadow: var(--box-shadow-dark);
    --dropdown-menuItem-hover-fill: var(--color-light-gray);
    --dropdown-menuItem-hover-color: var(--link-color);
    /* Badge
-------------------------- */
    --badge-fill: var(--color-danger);
    --badge-radius: 10px;
    --badge-font-size: 12px;
    --badge-padding: 6px;
    --badge-size: 18px;
    /* Card
--------------------------*/
    --card-border-color: var(--disabled-border-base);
    --card-border-radius: 4px;
    --card-padding: 20px;
    /* Slider modify by xhd
--------------------------*/
    --slider-main-background-color: var(--color-primary);
    --slider-runway-background-color: var(--color-light-gray);
    /*--slider-button-hover-color: color(var(--color-primary) w(20%));*/
    --slider-stop-background-color: var(--color-extra-light-silver);
    --slider-disable-color: var(--color-extra-light-silver);
    --slider-margin: 16px 0;
    --slider-border-radius: 3px;
    --slider-height: 2px;
    --slider-button-size: 16px;
    --slider-button-wrapper-size: 36px;
    --slider-button-wrapper-offset: -17px;
    /* Steps
--------------------------*/
    --steps-border-color: var(--disabled-border-base);
    --steps-border-radius: 4px;
    --steps-padding: 20px;
    --steps-small: 20px;
    --steps-process-color: var(--color-primary);
    --steps-wait-color: var(--color-white);
    --steps-success-color: var(--color-primary);
    /* Menu
--------------------------*/
    --menu-item-color: var(--base-black-2);
    --menu-item-hover-color: var(--base-black-1);
    --menu-item-fill: var(--base-black-8);
    --menu-item-hover-fill: var(--base-black-8);
    --menu-item-active-fill: var(--base-black-6);
    --menu-sub-fill: var(--base-black-6);
    --dark-menu-item-color: rgba(255, 255, 255, .6);
    --dark-menu-item-hover-color: var(--color-white);
    --dark-menu-item-fill: #373737;
    --dark-menu-item-hover-fill: #373737;
    --dark-menu-item-active-fill: #2c2c2c;
    --dark-menu-sub-fill: #2c2c2c;
    /* Rate
--------------------------*/
    --rate-height: 20px;
    --rate-font-size: var(--font-size-base);
    --rate-icon-size: 18px;
    --rate-icon-margin: 6px;
    --rate-icon-color: var(--color-extra-light-silver);
    /* DatePicker
--------------------------*/
    --datepicker-color: var(--link-color);
    --datepicker-off-color: #ddd;
    --datepicker-header-color: var(--border-color-hover);
    --datepicker-icon-color: var(--color-light-silver);
    --datepicker-border-color: var(--disabled-border-base);
    --datepicker-inner-border-color: #e4e4e4;
    --datepicker-cell-hover-color: var(--base-black-8);
    --datepicker-inrange-color: var(--color-primary-light-8);
    --datepicker-inrange-hover-color: var(--color-primary-light-7);
    --datepicker-active-color: var(--color-primary);
    --datepicker-text-hover-color: var(--color-primary);
    /* Loading
--------------------------*/
    --loading-spinner-size: 42px;
    --loading-fullscreen-spinner-size: 50px;
    /* Scrollbar
--------------------------*/
    --scrollbar-background-color: rgba(var(--color-black), .1);
    --scrollbar-hover-background-color: rgba(var(--color-black), .2);
    --scrollbar-active-background-color: rgba(var(--color-black), .3);
    /* Carousel
--------------------------*/
    --carousel-arrow-font-size: 12px;
    --carousel-arrow-size: 36px;
    --carousel-arrow-background: rgba(31, 45, 61, 0.11);
    --carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
    --carousel-indicator-width: 30px;
    --carousel-indicator-height: 2px;
    --carousel-indicator-padding-horizontal: 4px;
    --carousel-indicator-padding-vertical: 12px;
    --carousel-indicator-out-color: var(--border-color-hover);
    /* Collapse
--------------------------*/
    --collapse-border-color: color(var(--border-color-base) h(-3) s(27%) l(90%));
    --collapse-header-height: 43px;
    --collapse-border-radius: 0;
    --collapse-header-padding: 20px;
    --collapse-header-fill: var(--color-white);
    --collapse-header-color: var(--color-extra-light-black);
    --collapse-header-size: 13px;
    --collapse-content-fill: var(--color-dark-white);
    --collapse-content-size: 13px;
    --collapse-content-color: var(--color-base-black);
    /* Transfer
--------------------------*/
    --transfer-border-color: var(--base-black-5);
    --transfer-box-shadow: var(--box-shadow-base);
    --transfer-panel-width: 200px;
    --transfer-panel-header-height: 36px;
    --transfer-panel-header-background: var(--color-dark-white);
    --transfer-panel-footer-height: 36px;
    --transfer-panel-body-height: 246px;
    --transfer-item-height: 32px;
    --transfer-item-hover-background: var(--base-black-7);
    --transfer-filter-height: 32px;
}
