@charset "UTF-8";
@import "./common/var.css";
@import "./mixins/_button";

@component-namespace el {
  @b button {    
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: var(--button-default-fill);
    border: var(--border-base);
    border-color: var(--button-default-border);
    color: var(--button-default-color);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
    margin: 0;
    transition: all .2s;
    @utils-user-select none;
    & + .el-button {
      margin-left: 10px;
    }

    @mixin button-size var(--button-padding-vertical),
    var(--button-padding-horizontal),
    var(--button-font-size),
    var(--button-border-radius);
    &:hover {
      background: var(--button-white-hover-fill);
      border-color: var(--button-white-border);
    }
    &:active {
      background: var(--button-white-active-fill);
      border-color: var(--button-white-border);
      color: var(--button-white-color);
    }
    &::-moz-focus-inner {
      border: 0;
    }
    & i {
      font-size: 16px;
      vertical-align: middle;
      & + span {
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    @when iconBorder {
      padding: 7px 8px 7px 10px;
    }
    @when icon {
      min-width: 0;
      padding: 8px 8px 8px 10px;
      border: none;
      &.el-button--large {
        padding: var(--button-large-padding-vertical) var(--button-large-padding-horizontal);
      }
      &.el-button--small {
        padding: var(--button-small-padding-vertical) var(--button-small-padding-horizontal);
      }
      &.el-button--mini {
        padding: var(--button-mini-padding-vertical) var(--button-mini-padding-horizontal);
      }
    }
    @when plain {
      &:hover {
        background-color: var(--color-white);
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
      &:active {
        background-color: var(--color-white);
        border-color: shade(var(--color-primary), var(--button-active-shade-percent));
        color: shade(var(--color-primary), var(--button-active-shade-percent));
        outline: none;
      }
    }
    @when radius {
      border-radius: 15px;
    }
    @when active {
      color: shade(var(--color-primary), var(--button-active-shade-percent));
      border-color: @color;
    }
    @when disabled {
      &,
      &:hover {
        color: var(--color-white);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--button-disabled-fill);
        border-color: var(--button-disabled-fill);
      }
      &.el-button--link,&.el-button--text {
        text-decoration: none;
        color: var(--button-text-disabled-color);        
      }
      &.el-button--iconButton{
        color: var(--button-white-disable-color);        
      }
      &.el-button--link,&.el-button--text,&.el-button--iconButton {
        background-color: transparent;
      }
      &.el-button--default {
        background-color: var(--button-white-disable-fill);
        border-color: var(--button-white-disable-border);
        color: var(--button-white-disable-color);
      }
      &.is-plain {
        &:hover {
          background-color: var(--color-white);
          border-color: var(--color-base-gray);
          color: var(--color-extra-light-silver);
        }
      }
    }
    @when loading {
      padding: 7px 8px;
      position: relative;
      pointer-events: none;
      span {
        margin-left: 10px;
      }
      &:before {
        pointer-events: none;
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, .35);
      }
    }
    @m primary {
      @mixin button-variant var(--button-primary-color),
      var(--button-primary-fill),
      var(--button-primary-border);
    }
    @m success {
      @mixin button-variant var(--button-success-color),
      var(--button-success-fill),
      var(--button-success-border);
    }
    @m warning {
      @mixin button-variant var(--button-warning-color),
      var(--button-warning-fill),
      var(--button-warning-border);
    }
    @m danger {
      @mixin button-variant var(--button-danger-color),
      var(--button-danger-fill),
      var(--button-danger-border);
    }
    @m info {
      @mixin button-variant var(--button-info-color),
      var(--button-info-fill),
      var(--button-info-border);
    }
    @m iconButton {
      border: none;
      color: var(--button-iconButton-color);
      background: transparent;
      &:hover {
        background: var(--button-iconButton-hover-fill);
        color: var(--button-iconButton-color);
      }
      &:active {
        background: var(--button-iconButton-active-fill);
        color: var(--button-iconButton-color);
      }
    }
    @m large {
      @mixin button-size var(--button-large-padding-vertical),
      var(--button-large-padding-horizontal),
      var(--button-large-font-size),
      var(--button-border-radius);
      i {
        font-size: 18px;
      }
    }
    @m small {
      @mixin button-size var(--button-small-padding-vertical),
      var(--button-small-padding-horizontal),
      var(--button-small-font-size),
      var(--button-border-radius);
      min-width: 0;
      i {
        font-size: 14px;
      }
    }
    @m mini {
      @mixin button-size var(--button-mini-padding-vertical),
      var(--button-mini-padding-horizontal),
      var(--button-mini-font-size),
      var(--button-border-radius);
      min-width: 0;
      i {
        font-size: 12px;
      }
    }
    @m text {
      border: none;
      font-weight: initial;
      color: var(--button-text-color);
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      min-width: 0;
      &:hover,
      &:active {
        color: tint(var(--button-text-color), var(--button-hover-tint-percent));
        background: transparent;
      }
    }
    @m link {
      border: none;
      font-weight: initial;
      color: var(--button-text-color);
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      min-width: 0;
      &:hover,
      &:active {
        color: var(--button-text-color);
        background: transparent;
        text-decoration: underline;
      }
    }
  }
  
  @b button-group {
    @utils-clearfix;
    display: inline-block;
    vertical-align: middle;
    & .el-button {
      float: left;
      position: relative;
      &+.el-button {
        margin-left: 0;
      }
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:not(:last-child) {
        margin-right: -1px;
      }
      &:hover,
      &:active {
        z-index: 1;
      }
      @when active {
        z-index: 1;
      }
    }
    @each $type in (primary, success, warning, danger, info) {
      .el-button--$type {
        &:first-child {
          border-right-color: rgba(var(--color-white), 0.5);
        }
        &:last-child {
          border-left-color: rgba(var(--color-white), 0.5);
        }
        &:not(:first-child):not(:last-child) {
          border-left-color: rgba(var(--color-white), 0.5);
          border-right-color: rgba(var(--color-white), 0.5);
        }
      }
    }
  }
}
