@charset "UTF-8";
@import "./progress.css";
@import "./common/var.css";

@component-namespace el {
  @b upload {
    display: inline-block;
    
    .el-upload__label {
      display: block;
      padding: 9px 23px;
      line-height: 12px;
      background: var(--button-default-fill);
      border: var(--border-base);
      border-color: var(--button-default-border);
      color: var(--button-default-color);
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      cursor: pointer;

      @mixin button-size var(--button-padding-vertical),
      var(--button-padding-horizontal),
      var(--button-font-size),
      var(--button-border-radius);
      
      &:active {
        background: var(--box-shadow-dark);
      }
    }
    i{
      display: inline;
    }

    &.el-upload__primary .el-upload__label {
      color: #fff;
      background-color: var(--color-primary);
      &:hover {
        background-color: var(--color-primary);
      }
    }

    &.el-upload__default .el-upload__label {
      background-color: var(--button-default-fill);
      border: var(--border-base);
      border-color: var(--button-default-border);
      color: var(--button-default-color);
      &:hover {
        background-color: var(--button-default-fill);
      }
    }
    
    @e input {
      /* 让file上传的input不显示，由label代替触发 */
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    @e iframe {
      position: absolute; 
      top: -9999px; 
      left: -9999px;
    }
  
    @e disabled {
      .el-upload__label,
      .el-upload__label:hover {
        cursor: not-allowed;
        i {
           cursor: not-allowed;
        }
       
      }
    }
  }
}
