@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b radio-group {
    display: inline-block;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;

    & .el-radio {
      font-size: var(--radio-font-size);
    }

    /* 简单模式下选中样式 */
    &.type-simple .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
}
