@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b step {
    position: relative;
    vertical-align: top;  

    &:last-child .el-step__line {
      display: none;
    }

    &:last-child .el-step__main {
      padding-right: 0;
    }

    @when horizontal {
      display: inline-block;
      & .rightTitle {
        display: inline;
        position: relative;
        bottom: 29px;
        left: 36px;
        & .el-step__title {
          background: #fff;
          padding-right: 8px;  
        }
      }
    }

    @when vertical {
      & .el-step__main {
        padding-left: 8px;
        display: inline-block;
      }
      & .el-step__head {
        display: inline-block;
      }
    }

    @e line {
      display: inline-block;
      position: absolute;
      border-color: inherit;
      background-color: var(--color-extra-light-silver);

      @when icon {
        @when horizontal {
          right: 4px;
        }
      }

      @when horizontal {
        top: 15px;
        height: 2px;
        left: 44px;
        right: 1px;
      }

      @when vertical {
        width: 2px;
        box-sizing: border-box;
        top: 36px;
        bottom: 8px;
        left: 13px;
      }
    }

    @e line-inner {
      display: block;
      border-width: 1px;
      border-style: solid;
      border-color: inherit;
      transition: all 150ms;
      box-sizing: border-box;
      width: 0;
      height: 0;
    }

    @e icon {
      display: block;
      line-height: 28px;
      & .el-icon-check,& .el-icon-close {
        font-size: 1px;
        font-weight: 700;
        transform: translateY(-1px);
      }
      > * {
        line-height: inherit;
        vertical-align: middle;
      }
    }

    @e head {
     /*  circle: 28px transparent; */
      text-align: center;
      line-height: 28px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: transparent;
      font-size: 28px;
      vertical-align: top;
      transition: all 150ms;

      @when text {
        font-size: 14px;
        border-width: 1px;
        border-style: solid;

        @when process {
          color: var(--color-white);
          background-color: var(--steps-process-color);
          border-color: var(--steps-process-color);
        }

        @when wait {
          color: var(--font-color-base);
          background-color: var(--steps-wait-color);
          border-color: var(--base-black-5);
          width: ;
        }

        @when success {
          color: var(--steps-success-color);
          background-color: var(--color-white);
          border-color: var(--steps-success-color);
        }

        @when error {
          color: var(--color-white);
          background-color: var(--color-danger);
          border-color: var(--color-danger);
        }

        @when finish {
         /* color: var(--color-white);
          background-color: var(--color-primary);
          border-color: var(--color-primary);*/

          height: 28px; 
          color: var(--color-white);
          background-color: var(--steps-success-color);
          border-color: var(--steps-success-color);
        }
      }

      @when process {
        color: var(--steps-process-color);
        border-color: var(--steps-process-color);
      }

      @when wait {
        color: var(--color-extra-light-silver);
        border-color: var(--color-extra-light-silver);
      }

      @when success {
        color: var(--steps-success-color);
        border-color: var(--steps-success-color);
      }

      @when error {
        color: var(--color-danger);
        border-color: var(--color-danger);
      }

      @when finish {
        /*color: var(--color-primary);
        border-color: var(--color-primary);*/
        color: var(--steps-success-color);
        border-color: var(--steps-success-color);
      }
    }
    @e head:before{
      
    }
    @e main {
      white-space: normal;
      padding-right: 10px;
      text-align: left;
    }

    @e title {
      font-size: 14px;
      line-height: 32px;
      display: inline-block;

      @when process {
        font-weight: 700;
        color: var(--base-black-1);
      }

      @when wait {
        font-weight: normal;
        color: var(--base-black-2);
      }

      @when success {
        font-weight: 700;
        color: var(--base-black-2);
      }

      @when error {
        font-weight: 700;
        color: var(--color-danger);
      }

      @when finish {
        font-weight: 700;
        /*color: var(--color-primary);*/
        color: var(--base-black-2);
      }
    }

    @e description {
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      width: 120px;

      @when process {
        color: var(--base-black-1);
      }

      @when wait {
        color: var(--base-black-2);
      }

      @when success {
        color: var(--base-black-2);
      }

      @when error {
        color: var(--color-danger);
      }

      @when finish {
        /*color: var(--color-primary);*/
        color: var(--base-black-2);
      }
    }

    @m small {
      .el-step__head {
        line-height: var(--steps-small);
        width: var(--steps-small);
        height: var(--steps-small);
        .el-step__icon{
          line-height: var(--steps-small);
        }
      }
    }
  }
}
